REDIS_HOST='redilabs.com'
REDIS_PORT=1833
REDIS_USERNAME="default22222222222222222222222"
REDIS_PASSWORD="Ee66666666666666666666666666666666666rVqAid6ZUA"

AWS_REGION_NAME=hfghfgh
AWS_ENDPOINT_URL=ghgfh
AWS_ACCESS_KEY=hhfghfgh
AWS_SECRET_KEY=hfgggghf
AWS_PUBLIC_URL=''
AWS_BUCKET_NAME=''

AMQP_HOST=''
AMQP_PORT=5671
AMQP_VIRTUAL_HOST=''
AMQP_USERNAME=''
AMQP_PASSWORD=''